@import url("https://fonts.googleapis.com/css2?family=IM+Fell+French+Canon+SC&family=Lato:wght@400;700&display=swap");

:root {
  /* Color Palette */
  --primary-color: #7CA7CB;
  --secondary-color: #EBCC6F;
  --accent1-color: #250C04;
  --accent2-color: white;

  /* Font Settings */
  --heading-font: "IM Fell French Canon SC", serif;
  --paragraph-font: Lato, Helvetica, sans-serif;

  /* Text and Background Colors */
  --headline-color-on-white: var(--primary-color);
  --headline-color-on-color: white;
  --paragraph-color-on-white: var(--primary-color);
  --paragraph-color-on-color: white;
  --paragraph-background-color: var(--primary-color);

  /* Navigation */
  --nav-link-color: var(--secondary-color);
  --nav-background-color: var(--primary-color);
  --nav-hover-link-color: white;
  --nav-hover-background-color: var(--primary-color);
}

.contact-container-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh; /* Full viewport height */
}



.contact-container {
  background-color: #fff;
  padding: 40px; /* Add padding to create space around the form */
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  max-width: 500px;
  width: 100%;
}

form input,
form textarea {
  display: block;
  width: calc(100% - 20px); /* Adjust width to account for padding */
  margin: 10px auto; /* Center the input fields */
  padding: 10px;
  border: none;
  border-radius: 5px;
  background-color: #f1ebe8;
}

form input:focus,
form textarea:focus {
  outline: none;
  box-shadow: 0 0 5px;
}

form button {
  display: block;
  width: calc(100% - 20px); /* Adjust width to account for padding */
  margin: 10px auto; /* Center the button */
  padding: 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: 0.3s;
}

form button:hover {
  background-color: #6f7364;
}
body {
  max-width: 100%;
  margin: 0 auto;
  padding: 0;
  font-size: 18px;
  font-family: var(--paragraph-font);
  text-align: center;
  overflow-x: hidden; /* Prevent horizontal scrolling */
}

img {
  display: block;
  margin: 0 auto;
  max-width: 300px;
}

h1, h2, h3, h4, h5, h6 {
  font-family: var(--heading-font);
  color: var(--headline-color-on-white);
}

h2 {
  text-align: center;
}

hr {
  height: 3px;
  margin: 35px 0 50px;
  background: var(--accent1-color);
  width: 100%;
  position: sticky;
  top: 0;
  z-index: 100;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2), 0 6px 20px rgba(0, 0, 0, 0.19);
}

header {
  padding: 1em;
  text-align: center;
  color: var(--paragraph-color-on-color);
  background-color: var(--paragraph-background-color);
  width: 100%;
  position: sticky;
  top: 0;
  z-index: 100;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  overflow-x: hidden; /* Prevent horizontal scrolling */
}

header > h1, header > h2 {
  color: var(--headline-color-on-color);
}

.header-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  /* position: sticky; */
  top: 0;
  background-color: var(--nav-background-color);
  z-index: 1000;
}

p {
  font-family: var(--paragraph-font);
  color: var(--accent1-color);
  padding: 1em;
}

.colors {
  width: 100%;
  min-width: 350px;
  margin: 30px auto;
  text-align: center;
}

.colors th {
  background-color: #999;
}

.colors td {
  width: 25%;
  height: 3em;
}

.primary { background-color: var(--primary-color); }
.secondary { background-color: var(--secondary-color); }
.accent1 { background-color: var(--accent1-color); }
.accent2 { background-color: var(--accent2-color); }

p.colored {
  background-color: var(--paragraph-background-color);
  color: var(--paragraph-color-on-color);
}
.logo {
  width: 100px; /* Adjust the width as needed */
  height: auto; /* Maintain aspect ratio */
}


nav {
  display: flex;
  justify-content: center;
  align-items: center;
  line-height: 3em;
  padding: 10px;
  text-align: center;
  font-size: 1.2em;
  list-style-type: none;
}

nav a {
  padding: 10px;
  min-width: 120px;
  text-decoration: none;
  color: var(--nav-link-color);
  margin-right: 120px;
}

nav a:hover {
  color: var(--nav-hover-link-color);
  background-color: var(--nav-hover-background-color);
}

.hamburger {
  display: none;
  font-size: 2em;
  cursor: pointer;
}

@media (max-width: 768px) {
  nav {
      display: none;
      flex-direction: column;
      width: 100%;
  }

  nav.active {
      display: flex;
  }

  nav a {
      margin: 0;
      padding: 10px;
      width: 100%;
      text-align: center;
  }

  .hamburger {
      display: block;
  }

  .header-content {
      flex-direction: column;
  }

  .teton-text, .teton-text1, .teton-img {
    max-width: 100%; /* Ensure full width on small screens */
    margin: 10px 0; /* Add some margin for spacing */
  }

  .teton-section {
    flex-direction: column; /* Stack items in a column */
    align-items: center; /* Center items horizontally */
  }
  footer > * {
    flex: 1; /* Reset flex properties for larger screens */
    margin: 0 10px; /* Adjust margin for larger screens */
  }

  .social {
    width: auto; /* Reset width for larger screens */
  }
}

.sitemap {
  display: grid;
  justify-content: center;
  grid-template-columns: repeat(6, 15%);
  grid-template-rows: 3em 1.5em 1.5em 3em;
  grid-template-areas:
    ". . home home . ."
    ". . . top . ."
    ". left left right right ."
    "page2 page2 . . page3 page3";
}

.sitemap > div {
  text-align: center;
}

.sm-home, .sm-page2, .sm-page3 {
  background-color: #ccc;
  line-height: 3em;
}

.sm-home { grid-area: home; }
.sm-page2 { grid-area: page2; }
.sm-page3 { grid-area: page3; }

.top { grid-area: top; border-left: 1px solid; }
.left { grid-area: left; border-top: 1px solid; border-left: 1px solid; }
.right { grid-area: right; border-top: 1px solid; border-right: 1px solid; }

.teton-section {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap; /* Allow items to wrap to the next line */
}

.teton-text, .teton-text1 {
  flex: 1;
  max-width: 50%;
  margin-right: 20px;
}

.teton-img {
  flex: 1;
  max-width: 50%;
  margin-left: 20px;
  border: 10px solid azure;
  transition: transform .5s;
  box-shadow: 5px 5px 10px #6f7364;
  animation: slideIn 2s;
}

@keyframes slideIn {
  0% { transform: translateX(-100%); opacity: 0; }
  100% { transform: translateX(0); opacity: 1; }
}

footer {
  background-color: var(--primary-color);
  color: black;
  padding: 25px 50px;
  margin-top: 200px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  box-shadow: 0 -4px 8px rgba(0, 0, 0, 0.2), 0 -6px 20px rgba(0, 0, 0, 0.19);
  flex-wrap: wrap; /* Allow items to wrap to the next line */
}

footer > * {
  flex: 1 1 100%; /* Make each child take full width on small screens */
  margin: 10px 0; /* Add some margin for spacing */
}

.social {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.social-icon {
  width: 70px;
  margin-left: 10px;
}